{:source-paths ["src" "test"]
 :dependencies [[org.clojure/core.async "0.4.500"]
                [reagent "0.10.0" :exclusions [cljsjs/react cljsjs/react-dom]]
                [re-frame "0.12.0"]
                [me.flowthing/re-frame-utils "0.1.1"]
                [com.bhauman/cljs-test-display "0.1.1"]]
 :dev-http     {8000 "app"
                8001 "suite"}
 :builds       {:app {:output-dir "app/js/out"
                      :asset-path "js/out"
                      :target     :browser
                      :dev        {:modules {:app {:init-fn main.app/init}}}
                      :release    {:modules {:app-prod {:init-fn main.app/init}}}
                      :devtools   {:after-load main.app/on-reload}}

                :test {:output-dir "suite/js/out"
                       :asset-path "js/out"
                       :target     :browser
                       :modules    {:test {:init-fn main.tests/run}}
                       :devtools   {:after-load main.tests/run}}}}
